h1{
    color: rgb(27, 79, 109);
    margin:auto;
    text-align:center;
}
h2{
    text-decoration:underline;
}
h3{
    margin-left:7.5%;
}
body{
    background-color: rgb(123, 204, 177);
    margin:auto;
}
main{
    margin:0 17%;
    width:55%;
}
#contacto main{
    margin:auto;
    text-align:center;
}
#enlaces{
    text-align:center;
}
ol{
    margin:2% auto;
    padding:0;
}
#enlaces li{
    display:inline-block;
    border:1px solid black;
    width:20%;
    background-color: rgb(223, 179, 83);
}
a{
    text-decoration:none;
    color:black;
}
ol li:hover{
    background-color: orangered;
}
nav{
    background-color: aquamarine;
}
nav ol{
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline-block;
    background-color: rgb(223, 179, 83);
    padding:0;
    width:20%;
}
ul{
    margin-left:10%; 
}
footer{
    text-align:center;
    background-color: aquamarine;
}
#volverfooter{
    margin:2.5% auto;
    width:20%;
}
header{
    text-align:center;
    background-color: aquamarine;
    border:2px solid black;
    width:70%;
    margin:2.5% auto;
}