h1{
    color: rgb(27, 79, 109);
    margin-top:0;
    padding-top:2%;
}
h2{
    text-decoration:underline;
}
h3{
    margin-left:7.5%;
}
body{
    background-color: rgb(123, 204, 177);
    margin:0;
}
main{
    margin:0 17%;
    width:55%;
}
#contacto main{
    margin:auto;
    text-align:center;
}
#enlaces{
    text-align:center;
}
#enlaces ol li:hover{
    background-color: orangered;
}
ol li:hover{
    background-color: orangered;
}
ol{
    margin:2% auto;
    padding:0;
}
#enlaces li{
    display:inline-block;
    border:1px solid black;
    width:20%;
    background-color: rgb(223, 179, 83);
}
a{
    text-decoration:none;
    color:black;
}
nav{
    background-color: aquamarine;
}
nav ol{
    text-align:center;
}
nav li{
    display:inline-block;
    background-color: rgb(223, 179, 83);
    border:1px solid black;
    padding-top:0.5%;
    width:300px;
    height:30px;
}
footer{
    text-align:center;
    background-color: aquamarine;
}
#volverfooter{
    margin:2.5% auto;
    width:20%;
}
header{
    text-align:center;
    background-color: aquamarine;

}
#bodykh{
    background-image:url(image/kingdomheartsback.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    color: aliceblue;
}
li:hover{
    transform:scale(1.15);
}
ul{
    text-align:center;
    padding-left:0;
}
ul li{
    display:inline-block;
    width: 30%;
    padding-left:0;
}